@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.bg-masters {
  background-color: #006B54;
}
.quotes-container {
  display: flex;
  justify-content: center;
}
.quote-text {
  font-size: 1.2rem;
  line-height: 1.4;
}
.spec-font {
  font-family: 'Architects Daughter', cursive;
}
@media (min-width: 768px) {
  .quote-carousel {
    padding: 0px 75px;
  }
}